<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Dimensionnement moteur</title>
  <link rel="stylesheet" href="../../static/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <header>
  <nav class="navbar">
    <div class="logo">
      <img src="../../static/logo.png" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li><a href="../../index.html">Accueil</a></li>
      <li><a href="../page2/calculateur.html">Calcul</a></li>
      <li><a href="propos.html">A propos</a></li>
    </ul>
  </nav>
</header>
  <section id="propos">
    <h1>A propos</h1>
  </section>

  <section id="txt_propos"><p id="propos">Ce site a été créé dans le but de fournir un outil de calcul dédié à la mécatronique.<br><br>
Il permet de simplifier les étapes de dimensionnement de systèmes complexes.<br><br>
Grâce à des formules intégrées et une interface intuitive, les calculs sont automatisés.<br><br>
Cet outil s’adresse aux étudiants, ingénieurs et passionnés de mécatronique.<br><br>
Il regroupe plusieurs modules pratiques pour estimer les performances d’un système.<br><br>
Les résultats obtenus facilitent la conception et l’optimisation des projets techniques.<br><br>
Ce site évoluera progressivement pour intégrer de nouveaux outils et fonctionnalités.<br><br>
</p></section>
  <script src="../static/script.js"></script>
</body>
</html>
